@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container: 1100px;
}

.container {
  max-width: var(--container);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
